<footer class='container max-w-full text-center mx-auto bg-footer_background '>
    <div class='w-90vw mx-auto flex flex-col '>
        <div class='flex justify-between flex-row py-10'>
            <ul class='ml'>
                <li class='flex justify-start font-bold'>에어비앤비 지원</li>
                <li class='flex justify-start my-4 font-seminormal'>도움말 센터</li>
                <li class='flex justify-start my-4 font-seminormal'>안전 정보</li>
                <li class='flex justify-start my-4 font-seminormal'>예약 취소 옵션</li>
                <li class='flex justify-start my-4 font-seminormal'>에어비앤비의 코로나19 대응 방안</li>
                <li class='flex justify-start my-4 font-seminormal'>장애인 지원</li>
                <li class='flex justify-start my-4 font-seminormal'>이웃 민원 신고</li>
            </ul>

            <ul>
                <li class='flex justify-start font-bold'>커뮤니티</li>
                <li class='flex justify-start my-4 font-seminormal' >Airbnb.org: 재난 구호 숙소</li> 
                <li class='flex justify-start my-4 font-seminormal' >아프간 난민 지원</li> 
                <li class='flex justify-start my-4 font-seminormal' >다양성과 소속감 증진</li> 
                <li class='flex justify-start my-4 font-seminormal' >차별 철폐를 위한 노력</li> 
            </ul>

            <ul>
                <li class='flex justify-start font-bold'>호스팅</li> 
                <li class='flex justify-start my-4 font-seminormal'>호스팅 시작하기</li> 
                <li class='flex justify-start my-4 font-seminormal'>에어커버: 호스트를 위한 보호 프로그램</li> 
                <li class='flex justify-start my-4 font-seminormal'>호스팅 자료 둘러보기</li> 
                <li class='flex justify-start my-4 font-seminormal'>커뮤니티 포럼 방문하기</li> 
                <li class='flex justify-start my-4 font-seminormal'>책임감 있는 호스팅</li> 
            </ul>

            <ul>
                <li class='flex justify-start font-bold'>소개</li> 
                <li class='flex justify-start my-4 font-seminormal'>뉴스룸</li> 
                <li class='flex justify-start my-4 font-seminormal'>새로운 기능에 대해 알아보기</li> 
                <li class='flex justify-start my-4 font-seminormal'>에어비앤비 공동창업자의 메시지</li> 
                <li class='flex justify-start my-4 font-seminormal'>채용정보</li> 
                <li class='flex justify-start my-4 font-seminormal'>투자자 정보</li> 
                <li class='flex justify-start my-4 font-seminormal'>에어비앤비 Luxe</li> 
            </ul>
        </div>        
        <div class='flex flex-col w-full border-t py-10'>
            <div class='mx-auto '>
                © 2021 InsubKim, Inc.
            </div> 
            <div class='mx-auto '>
                개인정보 처리방침·이용약관·사이트맵·한국의 변경된 환불 정책·회사 세부정보
            </div>
        </div>            
    </div>
</footer> 