{% extends 'base.html' %}

{% block page_title%}
  Login
{% endblock %}

{% block content %}
  <div class='container xl:w-1/2 lg:w-5/12 md:w-1/2 mx-auto flex flex-col items-center border rounded-2xl'>

    <div class='text-center text-lg font-bold my-5 '>로그인 혹은 회원가입</div>

    <div class='w-full  bg-gray-300 h-px'></div>

    <div class='w-full p-6'>

      <div class='text-left text-2xl font-semibold mb-9'>에어비엔비에 오신 것을 환영합니다.</div>

      <form method="POST" action="{% url 'users:login' %}" class='w-full'>
        {% csrf_token %}
        <input name='email' type="email" placeholder='이메일' class='flex flex-row justify-center items-center border border-b-0 font-medium rounded-t-lg py-4 w-full text-left border-gray-500 px-3 focus: outline-none '>
        <span class="input_warning">{{form.email.errors}}</span>
        <input name='password' type="password" placeholder='비밀번호' class='flex flex-row justify-center items-center border font-medium rounded-b-lg py-4 w-full text-left border-gray-500 px-3 focus: outline-none mb-3'>
        <span class="input_warning">{{form.password.errors}}</span>
        <button class='btn w-full bg-red-500 text-white'>로그인</button>
      </form>

      <a href="{% url 'users:signup' %}" class='btn border-red-500 text-red-500'>회원가입</a>

      {% include 'users/social_login.html' %}

    </div>

  </div>
{% endblock content %}
